name: Deploy documentation

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'CHANGELOG.md'
  pull_request: 
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.5.2'

      - name: Add mdBook variables
        run: cargo install mdbook-variables

      - name: Add mdBook cmdrun
        run: cargo install --git https://github.com/roberth/mdbook-cmdrun --branch mdbook-0.5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod' 
          cache: true
        
      - name: Build docs
        run: mdbook build docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book
